<form class="col s12 white" FormGroup = "service.formModel" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
        <div class="input-field col s6">
            <input class = "validate" type="text" name="UserName" #UserName="ngModel" (ngModel) = "user.UserName" required = "">
            <label >Usuario</label>
            <span class="helper-text" data-error="Escriba un nombre de Usuario" data-success="Correcto"></span>
        </div>
        <div class="input-field col s6">
            <input class = "validate" type="password" name="Password" #Password="ngModel" (ngModel) = "user.Password" required minlength="3">
            <label >Contraseña</label>
            <span class="helper-text" data-error="Escriba una Contraseña" data-success="Correcto"></span>
         </div>
         <div class="input-field col s12">
            <input class = "validate" type="email" name="Email" #Email="ngModel" (ngModel) = "user.Email"  required>
            <label >Correo Electronico</label>
            <span class="helper-text" data-error="Escriba un Correo Electronico" data-success="Correcto"></span>
         </div>
         <div class="input-field col s6">
            <input type="text" name="FirstName" #FirstName="ngModel" (ngModel) = "user.FirstName"  >
            <label>Nombre</label>
         </div>
         <div class="input-field col s6">
            <input type="text" name="LastName" #LastName="ngModel" (ngModel) = "user.LastName">
            <label>Apellidos</label>
         </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Registrarse</button>
        </div>
    </div>
</form>
